/*header {
	border: solid 2px brown;	
}
body {
	border: solid 2px green;	
}
main {
	border: solid 2px yellow;	
}
div {
	border: solid 1px blue;
}
nav {
	border: solid 1px red;
}*/



body {
	font-family: sans-serif;
	font-style: normal;
	font-size: 20px;
	background-color: rgb(110, 216, 199);
	background-size: 100% auto;
}

.HeaderIcon {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}

.HeaderIcon i{
	margin: 20px;
	font-size:40px; 
	color: white;	
}

.HeaderIcon i:hover{
	color: coral;
}

.HeaderTitle{
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
	font-size: 24px;
	padding: 28px;
}
.HeaderTitle h1 {
	color: coral;
}

.Gallery {
	text-align: center;
	padding: auto;
	margin-top: 30px;
}

.Gallery i{
	font-size:56px;
	color: white; 
	align-content: center;
}

.Gallery i :hover{
  color: coral;
} 

.Gallery a{
	display: inline-block;
	width: 30%;
	text-align: center;
	text-decoration: none;
	color: white;
}

.Gallery a :hover{
  color: coral;
} 

.Lang {
	float: left;
	color: white;
	font-size: 20px;
	margin-top: 105px;
	margin-left: 20px; 
}

.NavStyle {
	margin-left: 0;
	margin-top: 160px;
	width: 100%;
	background-color: rgba(26, 165, 144, 0.6);
	font-size: 15px;
	padding: 10px;
	}

.NavStyle ul {
	text-align: center;
	list-style-type: none;
	padding: 0;

} 
.NavStyle li {
	display: inline-block;
	text-align: center;
	padding: 5px;	

}
.NavStyle a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	padding: 15px;
	font-weight: bold;
}
.NavStyle a:hover{
  color: coral;
} 

/*
.MainStyle {
	margin-top: 270px;	
	overflow: auto;
}
.MainStyle a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	}
.Gallery a:hover{
  color: coral;
} 
.MainStyle h3 {
	color: rgb(255, 255, 255);
	font-weight: bold;
}
.MainStyle p {
	color: rgb(255, 255, 255);

}
.GalleryBox {	
	display: inline-block;
	float: left;
	width: 25%;
	box-sizing: border-box;
}
.Gallery-item-outer {
	border: 1px solid #a4dffc;
}*/
.Contacts {
	margin-top: 30px;
	text-align: center;
	color: white;
	font-size: 15px;
}

.Contacts h1 {
	font-size: 20px;
	margin-bottom: 5px;
}
.Contacts div {
	display: inline-block;
	padding-left: 10px;
	text-align: left;
	margin: 20px;
}
footer {
	text-align: center;
	margin-bottom: 0px;
	background-color: rgba(26, 165, 144, 0.6);
	font-size: 15px;
}





